.product-card {
  background-color: #d9d9d9;
  border: none;
  border-radius: 3px;
  width: 233.45px;
  height: 348.24px;
  padding: 15px;
  margin: 10px;
  text-align: center;
  transition: box-shadow 0.3s ease-in-out;
}

.product-card img {
  max-width: 100%;
  height: auto;
}

.product-card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.product-card button {
  width: 155px;
  height: 40px;
  line-height: 19.09px;
  font-weight: 600;
  font-size: 16px;
  background-color: #d9d9d9;
  color: #213083;
  border: 1px solid #bed123;
  border-radius: 10px;
  transition: box-shadow 0.3s ease-in-out;
}

.product-card button:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #bed123;
}
